.peopleCard {
  display: inline-block;
  background-color: var(--white-color);
}

.figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.imgCaption {
  text-align: center;
  margin: 0;
  padding: 6px 0 12px 0;
  color: var(--black-color);
}

.link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
